body{
	text-align: center;
	margin: 0;
	text-decoration: none;
}

h1{
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	text-transform: uppercase;
}

h2{
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p{
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}

header{
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav{
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px;
	
}

a {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;	
	margin: 20px;
	color:	#FFFFFF;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

a:hover{
	border-color: #FFFFFF;
}

main{
	width: 850px;
	text-align: center;
	margin: 35px auto;
	
}

img {
	margin-top: 40px;
	margin-left: 8px;
	margin-right: 8px;
}

footer{
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;

}

.message{
	font-family: "Raleway", sans-serif;
	float: right;
}

.copyright{
	font-family: "Raleway", sans-serif;
	float: left;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name{
color: #F15831;
font-weight: 700;
}